<i data-lc-events="click:record"
   class="lc-recorder-mic-btn lc-hand lc-solid-hover fa fa-microphone"
   title="Record"
        >
</i>

<i data-lc-events="click:play"
   class="lc-recorder-play-btn lc-hidden lc-hand lc-solid-hover fa fa-play"
   title="Play"
        >
</i>

<i data-lc-events="click:pause"
   class="lc-recorder-pause-btn lc-hidden lc-hand lc-solid-hover fa fa-pause"
   title="Pause"
        >
</i>

<i data-lc-events="click:stop"
   class="lc-recorder-stop-btn lc-hidden lc-hand lc-solid-hover fa fa-stop"
   title="Stop"
        >
</i>

<i data-lc-events="click:upload"
   class="lc-recorder-upload-btn lc-hidden lc-hand lc-solid-hover fa fa-upload"
   title="Upload"
        >
</i>

<i data-lc-events="click:cancel"
   class="lc-recorder-cancel-btn lc-hidden lc-hand lc-solid-hover fa fa-times"
   title="Cancel & delete recording"
        >
</i>

<span class="lc-recorder-time"></span>