extend ../layouts/main
block content
    .home-box
        p.home-msg record your voice or upload a short audio to share.

        .recorder
            button(class='btn btn-lc-primary record') record
            button(class='btn btn-lc-primary upload') upload
            .notice
            .result

        p.home-msg.shrinked
            | if you use
            | <a href="http://google.com/chrome" target="_blank">Google Chrome</a>,
            | we have an
            | <a href="#" target="_blank">extension</a>
            | to install, so you can audio-comment on
            | <a href="http://facebook.com" target="_blank">Facebook.com</a>
            | and listen to other's loud-comments
            | without the need to come back here.

