<div class="lc-footer lc-overflow-hidden">
    {{#if src}}
        <div class="lc-link lc-pull-left">
            <small><a target="_blank" href="{{link}}">Link</a></small>
        </div>
    {{/if}}
    {{#unless branded}}
        <div class="lc-brand lc-pull-right">
            <small>
                Powered by
                <a target="_blank" href="http://loudcomment.com">loudcomment.com</a>
            <small>
        </div>
    {{/unless}}
</div>